@font-face {
    font-family: Font;
    src: url('font/font.ttf');
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: Font;
    font-size: 100%;
    color: black;
    background: url("bg/AlienIsolation_1.jpeg") no-repeat fixed;
    background-size: cover;
}

#main {
    background: rgba(255, 255, 255, 0.6);
    width: 50%;
    min-height: 100vh;
    margin: 0.5% auto;
}

#installation {
    margin: 0 auto;
    width: 40px;
    height: auto;
    -webkit-transition: width 1s, height 1s;
    transition: width 1s, height 1s;
}

#divInstallation {
    background-color: white;
    border-radius: 35px;
    top: 3%;
    margin-left: 95%;
    width: 50px;
    height: 50px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    -webkit-transition: width 1s, height 1s;
    transition: width 1s, height 1s;
}

#installation:hover {
    width: 50px;
    height: auto;
}

#divInstallation:hover {
    width: 60px;
    height: 60px;
}

#divInstallation_2 {
    position: fixed;
    display: none;
    background-color: white;
    border-radius: 25px;
    width: 50%;
    height: 50%;
    position: absolute;
    left: 50%;
    margin-left: -25%;
    top: 50%;
    margin-top: -10%;
}

#divCross {
    width: 100%;
    direction: rtl;
}

#cross {
    margin: 0 auto;
    width: 30px;
    margin: 2%;
    height: auto;
    -webkit-transition: width 1s, height 1s;
    transition: width 1s, height 1s;
}

#cross:hover {
    width: 40px;
    height: auto;
}

#formBg {
    margin-left: 5%;
    margin-right: 5%;
}

.form {
    display: inline-block;
}

#forLine {
    position: fixed;
    top: 0;
    right: 100%;
    display: block;
    min-height: 9px;
    min-width: 100%;
    background-color: red;
    transform: translate(0,0) scale(1,1);
}

#box{
    min-width: 100%;
    min-height: 1px;
    display:block;
}